<div class="panel panel-primary">
  <div style="color: #e74809" class="panel-heading">Danh sách bài hát</div>
  <div *ngFor="let file of fileUploads">
    <div class="panel-body">
      <app-details-upload [fileUpload]="file"></app-details-upload>
    </div>
  </div>
</div>
<body>
<h2 style="color: blueviolet">Níu duyên - Lê Bảo Bình</h2>
<audio controls>
  <source src="https://firebasestorage.googleapis.com/v0/b/hoanghieuhd-2022.appspot.com/o/uploads%2FNiu%20duyen.mp3?alt=media&token=21396b09-6063-4e9a-85bf-547ee6d727a3">
</audio>
<body>
<h2 style="color: #e74809">Bên trên tầng lầu - Tăng Duy Tân</h2>
<audio controls>
  <source src="https://firebasestorage.googleapis.com/v0/b/hoanghieuhd-2022.appspot.com/o/uploads%2FBen%20tren%20tang%20lau.mp3?alt=media&token=b721baef-35b5-4af7-9529-ee9fa49e4d4c">
</audio>
</body>
<body>
<h2 style="color: #38b607">Đế vương - Remix</h2>
<audio controls>
  <source src="https://firebasestorage.googleapis.com/v0/b/hoanghieuhd-2022.appspot.com/o/uploads%2FDe%20vuong%20-%20remix.mp3?alt=media&token=744bca9d-f960-4fa1-84b5-bab365ace58f">
</audio>
</body>
